/*=====================  VARIABLES DE COLORES =====================*/
:root {
  --color-umbrella-rojo-oscuro: #cf0606;
  --color-umbrella-rojo: #8f0505;
  --color-umbrella-negro: #000000;
  --color-umbrella-gris-oscuro: #666666;
  --color-umbrella-blanco: #ffffff;
}


/*=====================  ESTILOS GENERALES =====================*/
body {
  background-image: url('../Elementos/UmbrellaWallpaper1NoLogo.jpg') !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-color: var(--color-umbrella-negro) !important;
  color: var(--color-umbrella-blanco) !important;
  font-family: 'Orbitron', sans-serif !important;
  margin-left: 50px !important;
  padding: 0 !important;
  max-height: 850px !important;
}

h1,
h2,
h3 {
  color: var(--color-umbrella-rojo) !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  text-shadow: 0 0 5px var(--color-umbrella-rojo);
}

h4 {
  color: var(--color-umbrella-blanco) !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  text-shadow: 0 0 5px var(--color-umbrella-rojo);
  font-weight: bold;
}

p {
  color: var(--color-umbrella-blanco);
}

a {
  color: var(--color-umbrella-rojo);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  color: var(--color-umbrella-rojo-oscuro);
}

/*=====================  AUDIO CONTROL =====================*/

#audio-control {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#audio-control p {
  margin: 0;
  font-size: 14px;
  color: var(--color-umbrella-blanco);
}

#audioButton {
  background: none;
  border: none;
  color: var(--color-umbrella-rojo);
  font-size: 20px;
  cursor: pointer;
}

#audioButton:hover {
  color: var(--color-umbrella-rojo-oscuro);
}




/*=====================  BARRA DE SCROLL =====================*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-umbrella-negro);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-umbrella-rojo);
  border-radius: 0px;
  border: 2px solid #111;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-umbrella-rojo-oscuro);
}

/*=====================  BANNER =====================*/
.banner-img {
  max-width: 40%;
  height: auto;
  margin: 0 auto;
  margin-top: 0;
}

/*=====================  BOTONES =====================*/
.btn-danger,
.btn-primary {
  background-color: var(--color-umbrella-rojo) !important;
  color: var(--color-umbrella-blanco);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0px !important;
}

.btn-outline-light {
  text-transform: uppercase !important;
  border-radius: 0px !important;
}

.btn-danger:hover,
.btn-primary:hover {
  background-color: var(--color-umbrella-rojo-oscuro) !important;
  box-shadow: 0 0 15px var(--color-umbrella-rojo), 0 0 25px var(--color-umbrella-rojo-oscuro) !important;

}


/*=====================  TARJETAS =====================*/
#scroll-container {
  height: 70vh;
  overflow-y: auto;
  padding: 0px !important;
  display: grid;
}

#image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 columnas fijas */
  gap: 20px;
  padding: 10px;
  position: relative;
}

#watermark {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* Marca de agua agresiva
  transform: translateX(-50%) rotate(-45deg);*/
  font-size: 15px;
  color: var(--color-umbrella-gris-oscuro);
  font-weight: normal;
  pointer-events: none;
}

.card {
  width: 100%;
  background-color: var(--color-umbrella-negro) !important;
  border: 2px solid var(--color-umbrella-rojo) !important;
  box-shadow: 0 0 10px var(--color-umbrella-rojo) !important;
  border-radius: 0px !important;
  overflow: hidden;
}

.card-img-top {
  width: 100% !important;
  height: 350px !important;
  object-fit: cover !important;
  border-radius: 0px !important;
}

.card-body {
  padding: 10px;
  text-align: left;
}

.card-title {
  color: var(--color-umbrella-rojo) !important;
  font-size: 1rem !important;
  font-weight: bold;
}

.card-text {
  color: var(--color-umbrella-blanco);
  font-size: 0.8rem;
}

/*=====================  COMENTARIOS =====================*/
.comentarios {
  max-height: 200px !important;
  overflow-y: auto !important;
  padding: 0.5rem !important;
}


/*=====================  FORMULARIOS =====================*/
.form-control,
textarea {
  background-color: var(--color-umbrella-fondo-form);
  color: var(--color-umbrella-blanco);
  border: 1px solid var(--color-umbrella-rojo);
  border-radius: 0px !important;
}


/*=====================  MODALES =====================*/
/* Eliminar animación del modal */
.modal.fade .modal-dialog {
  transition: none !important;
}

.modal-content {
  animation: none !important;
  background-color: var(--color-umbrella-negro) !important;
  border: 2px solid var(--color-umbrella-rojo) !important;
  color: var(--color-umbrella-blanco) !important;
  border-radius: 0px !important;
  box-shadow: 0 0 10px var(--color-umbrella-rojo) !important;
}

/* Modal de imagen */
.modal-dialog {
  width: 90vw !important;
  height: 80vh !important;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.modal-body {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body img {
  max-width: 90% !important;
  max-height: auto !important;
  object-fit: contain !important;
}


/*=====================  NOTIFICACIONES SweetAlert2 =====================*/
.alert-popup {
  background-color: var(--color-umbrella-negro) !important;
  color: var(--color-umbrella-blanco) !important;
  border-radius: 0px;
  border: 2px solid var(--color-umbrella-rojo) !important;
  box-shadow: 0 0 10px var(--color-umbrella-rojo) !important;
}

.swal2-title {
  color: var(--color-umbrella-rojo-oscuro) !important;
  font-weight: normal !important;
}

.swal2-text {
  color: var(--color-umbrella-blanco) !important;
  font-weight: 200 !important;
}

.alert-confirm {
  background-color: var(--color-umbrella-rojo) !important;
  color: var(--color-umbrella-blanco) !important;
  border-radius: 0px;
  border: 1px solid var(--color-umbrella-rojo-oscuro);
  font-weight: normal !important;
  text-transform: uppercase !important;
  padding: 8px 16px;
}

.alert-cancel {
  background-color: var(--color-umbrella-negro) !important;
  border: 1px solid var(--color-umbrella-blanco) !important;
  color: var(--color-umbrella-blanco) !important;
  border-radius: 0px;
  font-weight: normal !important;
  text-transform: uppercase !important;
  padding: 8px 16px;
}

.alert-confirm:hover {
  background-color: var(--color-umbrella-rojo-oscuro) !important;
  box-shadow: 0 0 15px var(--color-umbrella-rojo), 0 0 25px var(--color-umbrella-rojo-oscuro) !important;
}


/* Eliminar animaciones */
.swal2-show {
  animation: none !important;
}